body {
	width: 100%;
	margin: 0;
}

#menu {
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	position: relative;
}

.option {
	cursor: pointer;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	font-size: 14px;
	font-family: Google Sans, arial, sans-serif;
	color: #5f6368;
}

#line {
	position: absolute;
	height: 15%;
	background-color: #1a73e8;
	bottom: 0;
	border-radius: 25px;
	transition: all 0.2s ease;
}
